.inputs-wrapper {
  margin: 20px 0;
  padding-top: 20px;
  border: none;
  box-shadow: 5px 5px 2px #c7c7c7;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.condition-dropdown {
  width: 180px !important;
}

.input-wrapper__action-buttons {
  margin: 20px 0;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

button {
  padding: 8px;
  border: none;
  background-color: rgb(68, 160, 189);
  color: rgb(233, 233, 233);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 1s;
}

button:hover {
  background-color: rgb(185, 78, 78);
}

button:disabled,
button:disabled:hover {
  opacity: 0.5;
  background-color: rgb(68, 160, 189);
}

input {
  width: 400px;
  height: 30px;
  font-size: 16px;
  color: rgb(112, 111, 111);
}

@media (max-width: 1050px) {
  .inputs-wrapper {
    width: 80vw;
  }
}
