body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(204, 202, 202);
  color: rgb(50, 50, 50);
  font-family: 'Montserrat', sans-serif;
}

* {
  text-decoration: none;
}

a:visited {
  color: rgb(172, 171, 171);
}

.Dropdown-root {
  width: 400px;
}

.Dropdown-disabled {
  opacity: 0.5;
}